input {
  border: 1px solid #BDCBD6;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 14px 8px 35px;
  background: url("../../../assets/search.svg") no-repeat 5% 50%;
  background-color: #FFFFFF;
  cursor: pointer;
  &::placeholder {
    padding-right: 30px;
  }
}
input:disabled {
  background-color: #9d9c9c;
}
