<template>
    <label >
        <input
                type="text"
                :placeholder="placeholder"
                autocomplete="off"
                @input="searchEmit($event)"
                :disabled="disabled"
        >
    </label>
</template>

<script>
    export default {
        name: "TheSearch",
        props: {
            placeholder: {
                type: String,
                default: 'Поиск'
            },
            disabled: {
                type: Boolean,
                default: false,
            },
        },
        methods: {
            searchEmit($event) {
                this.$root.$emit('input', $event)
            }
        }
    }
</script>

<style scoped lang="scss" src="./TheSearch.scss"></style>
