<template>
    <div class="filters">
        <div class="filters-wrapper">
            <div class="info-filters">
                <img src="../../../assets/filters.svg" alt="">
                <span>Фильтры</span>
            </div>
            <div class="filter-item wrapper-item">
                <label>
                    <input
                            type="text"
                            min="0"
                            v-model="filters.range.min"
                            placeholder="От"
                            @input="inputChangeMin"

                    >
                </label>
                <label>
                    <input
                            type="text"
                            max="100000"
                            v-model="filters.range.max"
                            placeholder="До"
                            @input="inputChangeMax"
                    >
                </label>
            </div>
            <div class="filter-item">
                <p>Курьер</p>
                <label>
                    <select
                            v-model.trim="filters.name"
                            @click="onchangeSelect"
                    >

                        <option disabled selected="0" value="0">
                            Выберите курьера
                        </option>

                        <option
                                v-for="courier in data"
                                :key="courier.courier_id"
                                :value="courier.courier_id"
                                :name="courier.courier_id"
                                :id="courier.courier_id"
                        >
                            {{searchCouriersById(courier.courier_id)}}
                        </option>
                    </select>
                </label>
            </div>
            <div class="filter-item">
                <p>Время Доставки</p>
                <label
                        v-for="filterStatus in date"
                        :key="filterStatus.value"
                        :for="filterStatus.value"
                >
                    <input
                            type="radio"
                            v-model="filters.time"
                            :value="filterStatus.value"
                            :name="filterStatus.title"
                            :id="filterStatus.value"
                            @change="onchangeDelivery"
                    >
                    <span>{{filterStatus.title}}</span>
                </label>
            </div>
            <div class="filter-item">
                <p>Статус Заказа</p>
                <label
                        v-for="filterStatus in status"
                        :key="filterStatus.value"
                        :for="filterStatus.value"
                >
                    <input
                            type="radio"
                            v-model="filters.status"
                            :value="filterStatus.value"
                            :name="filterStatus.title"
                            :id="filterStatus.value"
                            @change="onchangeStatus"
                    >
                    <span>{{filterStatus.title}}</span>
                </label>
            </div>
        </div>
        <button @click="reset">reset filters</button>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";

    export default {
        name: "TheFilters",
        props: {
            data: {
                type: Array,
                default: () => []
            },
            couriers: {
                type: Array,
                default: () => []
            }
        },
        data() {
            return {
                orderBadge: '#',
                currency: 'грн.',
                checkedOrders: [],
                filter: '',
                sort: '+id',

                status: [
                    {value: 'on_the_way', title: 'В пути'},
                    {value: 'delivered', title: 'Доставлено' },
                    {value: 'prepare', title: 'Готовиться'}
                ],
                date: [
                    {value: 'lateness', title: 'опоздание'},
                    {value: 'during ', title: 'во время ' },
                ],
                filters: {
                    time: undefined,
                    name: 0,
                    range: {
                        min: undefined,
                        max: undefined
                    },
                    status: undefined,
                }
            }
        },
        computed: {
            ...mapGetters('orders', ['loaded']),
        },
        mounted() {
            this.checkedOrders = []
            this.filter = ''
            this.$root.$on('input', (event) => {
                this.filter = event.target.value
            })
            this.$root.$on('allChecked', () => {
                this.chooseAll()
            })
            this.$root.$on('closeActionFooter', () => {
                this.checkedOrders = []
            })
            this.$root.$on('sort', (data) => {
                this.sort = data
            })
        },
        methods: {
            reset() {
                this.filters = {
                    time: undefined,
                    name: 0,
                    range: {
                        min: undefined,
                        max: undefined
                    },
                    status: undefined,
                }
                this.$root.$emit('resetFilters')
            },
            inputChangeMin() {
                this.$root.$emit('inputChangeMin', this.filters.range.min)
            },
            inputChangeMax() {
                this.$root.$emit('inputChangeMax', this.filters.range.max)
            },
            onchangeSelect() {
                if (this.filters.name !== 0) {
                    this.$root.$emit('onchangeSelect', this.filters.name)
                }
            },
            onchangeDelivery() {
                if  (this.filters.time) {
                    this.$root.$emit('onchangeDelivery', this.filters.time)
                }
            },
            onchangeStatus() {
                if  (this.filters.status) {
                    this.$root.$emit('onchangeStatus', this.filters.status)
                }
            },
            searchCouriersById(id) {
                return this.couriers
                    ? this.couriers
                        .filter(couriers => couriers.id === id)
                        .map(couriers => couriers.name)[0]
                    : []
            },


        },
    }
</script>
<style scoped lang="scss" src="./TheFilters.scss"></style>
