@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";


.filters {
  margin: 60px 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border: 1px solid #BDCBD6;
  box-sizing: border-box;
  border-radius: 4px;
  width: 320px;
  height: auto;
  padding: 15px 0;
  line-height: 1.5;
  text-transform: capitalize;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
  text-align: left;
  color: #2C2C2C;

  & .filters-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    & .info-filters {
      padding: 0 20px;
      display: flex;
      align-items: center;

      & img {
        margin-right: 15px;
      }
    }

    & .filter-item {
      display: flex;
      flex-direction: column;
      padding: 0 20px 10px;
      width: 100%;
      margin: 15px 0 0 0;
      height: auto;
      border-bottom: 1px solid #DEE3EA;
      & p {
        margin-bottom: 10px;
      }
      & select {
        width: 100%;
        padding: 5px;
        background: #FFFFFF;
        border: 1px solid #BDCBD6;
        border-radius: 4px;
        outline: none;
      }
      & label {
        cursor: pointer;
        width: 100%;
        margin: 5px 0;
      }
    }
    & .wrapper-item {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      & input {
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #BDCBD6;
        border-radius: 4px 0 0 4px;
        outline: none;
        padding: 5px;
      }
      & label {
        cursor: pointer;
        width: 100%;
        margin: 5px 0;
        &:nth-child(2) {
          & input {
            width: 100%;
            background: #FFFFFF;
            border: 1px solid #BDCBD6;
            border-radius: 0 4px 4px 0;
          }
        }
      }

    }

  }
  & button {
    margin: 20px;
    background-color: transparent;
    border: 1px dotted $pizzaColor;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s ease-in;
    opacity: 0.6;
    font-weight: bold;
    &:hover {
      transition: .2s ease-in opacity;
      opacity: 1;
    }
  }
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  @include checkbox
}
