<template>
    <section
            class="status"
            :class="defineTheClass.className"
    >
        <p>{{defineTheClass.title}}</p>
    </section>
</template>

<script>
    export default {
        name: "AppStatus",
        props: {
            status: {
                type: String,
                default: ''
            }
        },
        data() {
            return {
                on_the_way: 'on_the_way',
                delivered: 'delivered',
                prepare: 'prepare'
            }
        },
        computed: {
            defineTheClass() {
                switch (this.status) {
                    case this.on_the_way:

                        return {title: 'В пути', className: 'green'}

                    case this.delivered:

                        return {title: 'Доставлен', className: 'red'}

                    case this.prepare:

                        return {title: 'Готовиться', className: 'blue'}

                }
                return {title: null, className: null}
            }
        }
    }
</script>

<style scoped lang="scss">
    section {
        margin: 0 !important;
    }
    .status {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: auto;
        min-width: 40px;
        height: 25px;
        border-radius: 8px;
        p {
            padding: 5px 10px;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 0em;
            text-align: left;
        }
    }
    .green {
        border: 1px solid #0FA54E;
        & p {
            color: #0FA54E;
        }

    }
    .red {
        border: 1px solid #E85353;
        & p {
            color: #E85353;
        }
    }
    .blue {
        border: 1px solid #319FEF;
        & p {
            color: #319FEF;
        }
    }


</style>
