<template>
    <div
            class="navigate"
    >

        <div class="navigate-info">
            <h2>{{title}}</h2>
            <app-button
            :opacity="true"
            :title="btnName"
            :plus="true"
            />
        </div>

        <div class="navigate-search">

            <the-search
                    :placeholder="placeholder"
                    :disabled="!loaded || (infoOrders.length > 0 && infoOrders !== null && infoOrders !== undefined)"
            />

        </div>

    </div>
</template>

<script>
    import {mapGetters} from "vuex";

    export default {
        name: "TheNavigate",
        props: {
            title: {
                type: String,
                default: 'База Заказов'
            }
        },
        data() {
            return {
                btnName: 'Добавить заказ',
                placeholder: 'Поиск',
            }
        },
        computed: {
            ...mapGetters('orders', ['loaded', 'infoOrders']),
        }
    }
</script>

<style scoped lang="scss">
    .navigate {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;

        & .navigate-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        & h2 {
            margin-right: 25px;
            text-transform: capitalize;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 23px;
            color: #2C2C2C;
        }
    }
</style>
