<template>
    <header>
        <div class="menu">
            <div class="menu-item">

                <div class="menu-item__logo">
                    <router-link exact to="/">
                        <img src="../../assets/pizza-logo.svg" alt="">
                    </router-link>
                </div>

                <div class="menu-item__user">
                    <div class="user-name">

                        {{users.name}}

                    </div>

                    <div class="user-avatar">
                        <img src="../../assets/user-avatar.svg" :alt="users.name">
                    </div>

                    <div class="user-selector">

                    </div>

                </div>
            </div>
        </div>
    </header>
</template>

<script>
    export default {
        name: "TheNavbar",
        data() {
            return {
                users: {
                    name: 'Менеджер Олег',
                    avatar: 'user-avatar.svg'
                }
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "../../assets/styles/_variables.scss";
    .menu {
        position: absolute;
        width: 100%;
        height: 80px;
        left: 0;
        right: 0;
        top: 0;
        margin: 0;
        background-color: $pizzaColor;

        & .menu-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto;
            max-width: 1600px;
            width: 100%;
            padding: 10px 20px;

            & .menu-item__user {
                display: flex;
                justify-content: space-between;
                align-items: center;
                & .user-name {
                    margin-right: 20px;
                    font-size: 13px;
                    line-height: 15px;
                    text-align: right;
                    color: #FFFFFF;

                }

                & .user-avatar {
                    & img {
                        width: 32px;
                        height: 32px;
                    }
                }

            }
        }




    }
</style>
