<template>
    <section v-if="visible">
        <div class="footer-item">
            <p>{{action}}</p>
            <span>{{checkedOrders.length}}</span>
            <span>/</span>
            <span>{{allOrdersCount}}</span>
        </div>
        <div class="footer-action">
            <app-button
            :rm="true"
            :bg="true"
            :title="btnName"
            @actionBtn="deleteOrders(checkedOrders)"
            />
            <span class="close" @click="closeActionFooter"></span>
        </div>
    </section>
</template>

<script>
    export default {
        name: "TheActionFooter",
        props: {
            checkedOrders: {
                type: Array,
                default: () => []
            },
            allOrdersCount: {
                type: Number,
                default: 0
            }
        },
        data() {
            return {
                action: 'выбранно: ',
                btnName: 'Удалить'
            }
        },
        methods: {
            closeActionFooter() {
                this.$root.$emit('closeActionFooter')
            },
            deleteOrders(id) {
                const ids = id.length ? id.map(t => t.id) : id

                this.$nextTick(() => {
                    this.$root.$emit('actionRmOrder', ids)
                    this.$root.$emit('closeActionFooter')
                })

            }
        },
        computed: {
            visible() {
                return this.checkedOrders.length !== 0
            }
        }
    }
</script>

<style scoped lang="scss" src="./TheActionFooter.scss"></style>
