@import "../../../assets/styles/variables";
section {
  margin: 0!important;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  height: 44px;
  background: #FFFFFF;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
  z-index: 10000;
}
.footer-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  p {
    text-transform: capitalize;
    line-height: 15px;
    color: #9AA3B0;
    font-size: 13px;
  }
  & span {
    color: $pizzaColor;
    font-size: 15px;
    &:nth-child(2) {
      margin-left: 10px;
    }
  }
}
.footer-action {
  .close {
    position: absolute;
    right: 20px;
    top:0;
    bottom: 0;
    margin: auto 0;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
}
