<template>
    <div v-if="loaded">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
            <tr
                    v-for="itemOrders in filteredOrders"
                    :key="itemOrders.id"
            >
                <td>
                    <div class="wrapper-id">
                         <label :for="itemOrders.id">
                        <input
                                type="checkbox"
                                :id="itemOrders.id"
                                :name="itemOrders.name"
                                v-model="checkedOrders"
                                :value="itemOrders"
                                class="custom-checkbox allChecked"
                        >
                    </label>
                    {{orderBadge + itemOrders.id}}
                    </div>
                </td>

                <td>{{itemOrders.user}}</td>

                <td>{{itemOrders.order_time | moment("LT, ll") }}</td>

                <td>{{itemOrders.amount + ' ' + currency}}</td>

                <td>{{searchCouriersById(itemOrders.courier_id)}}</td>

                <td class="action-rm">
                    <app-status :status="itemOrders.status"/>
                    <app-point-dropdown
                      :id="itemOrders.id"
                    />
                </td>
            </tr>

            <tr v-if="!filteredOrders.length">
                <td>
                    <span>
                        Информация по данному заказу отсутсвует !
                        <br>
                        Попробуйте ввести другие данные...
                    </span>
                </td>
            </tr>

            </tbody>
        </table>

        <the-action-footer
            :checkedOrders="checkedOrders"
            :allOrdersCount="dataBody.length"
        />
    </div>
</template>

<script>
    import {mapGetters} from "vuex";

    const pick = (o, f) => {
        const path = f.split('.');
        if (path.length === 1) return o[f];
        const p = path.shift();
        return pick(o[p], path.join('.'));
    };


    export default {
        name: "AppTableBody",
        props: {
            dataBody: {
                type: Array,
                default: () => []
            },
            couriersBody: {
                type: Array,
                default: () => []
            }
        },
        data() {
            return {
                orderBadge: '#',
                currency: 'грн.',
                checkedOrders: [],
                filter: '',
                sort: '+id',

                status: [
                    {value: 'on_the_way', title: 'В пути'},
                    {value: 'delivered', title: 'Доставлено' },
                    {value: 'prepare', title: 'Готовиться'}
                ],
                date: [
                    {value: 'lateness', title: 'опоздание'},
                    {value: 'during ', title: 'во время ' },
                ],
                filters: {
                    time: undefined,
                    name: 0,
                    range: {
                        min: undefined,
                        max: undefined
                    },
                    status: undefined,
                }
            }
        },
        computed: {
            ...mapGetters('orders', ['loaded']),
            filteredOrders() {
                const filter = this.filter.toLowerCase().trim();

                let modifyArr = [...this.dataBody]

                let ret = modifyArr.map(t => {
                     return {
                         couriers_name: this.searchCouriersById(t.courier_id),
                         ...t
                    }
                })

                if (filter) {
                    ret = ret.filter(({ id, user, couriers_name }) =>
                        (
                            `${id}`.includes(filter) ||
                            user.toLowerCase().trim().includes(filter) ||
                            couriers_name.toLowerCase().trim().includes(filter)
                        )
                    );
                }

                const field = this.sort.substr(1);
                const k = this.sort.charAt(0) === '+' ? 1 : -1;
                ret = ret.sort((a, b) => {
                    const v1 = pick(a, field);
                    const v2 = pick(b, field);
                    return k * (v1 > v2 ? 1 : (v1 < v2 ? -1 : 0));
                });

                if (this.filters.range.max || this.filters.range.min) {
                    ret = this.filterOrdersByRange(ret)
                }

                if (this.filters.name) {
                    ret = this.filterOrdersByName(ret)
                }

                if (this.filters.status) {
                    ret = this.filterOrdersByStatus(ret)
                }

                if (this.filters.time) {
                    ret = this.filterOrdersByDate(ret)
                }

                return ret;
            },
        },
        mounted() {
            this.checkedOrders = []
            this.filter = ''
            this.$root.$on('input', (event) => {
               this.filter = event.target.value
            })
            this.$root.$on('allChecked', () => {
                this.chooseAll()
            })
            this.$root.$on('closeActionFooter', () => {
                this.checkedOrders = []
            })
            this.$root.$on('sort', (data) => {
                this.sort = data
            })
            this.$root.$on('resetFilters', () => {
                this.reset()
            })
            this.$root.$on('inputChangeMin', (data) => {
                this.filters.range.min = data
            })
            this.$root.$on('inputChangeMax', (data) => {
                this.filters.range.max = data
            })
            this.$root.$on('onchangeSelect', (data) => {
                this.filters.name = data
            })
            this.$root.$on('onchangeDelivery', (data) => {
                this.filters.time = data
            })
            this.$root.$on('onchangeStatus', (data) => {
                this.filters.status = data
            })
        },
        methods: {

            reset() {
                this.filters = {
                    time: undefined,
                        name: 0,
                        range: {
                        min: undefined,
                            max: undefined
                    },
                    status: undefined,
                }
            },

            searchCouriersById(id) {
                return this.couriersBody
                    ? this.couriersBody
                        .filter(couriers => couriers.id === id)
                        .map(couriers => couriers.name)[0]
                    : []
            },

            chooseAll() {
                // document.querySelectorAll('.allChecked').forEach(t => {
                //     t.checked = !t.checked
                // })
            },

            filterOrdersByRange(order){
                return order
                    .filter(order =>
                    (
                        (order.amount > (this.filters.range.min || 0)) &&
                        (order.amount < (this.filters.range.max || 1000000)))
                        ? order
                        : ''
                )
            },

            filterOrdersByName(order) {
                return order
                    .filter(order =>
                        order.courier_id === this.filters.name
                    )
            },

            filterOrdersByStatus(order) {
                return order
                    .filter(order =>
                        order.status === this.filters.status
                    )
            },

            filterOrdersByDate(order) {
                    return order
                        .filter(order =>
                            (
                                this.filters.time === 'lateness'
                                    ? order.order_time < (Date.now())
                                    : order.order_time > (Date.now())
                            )
                        )
            }
        },
        beforeDestroy() {
            this.$root.$off('closeActionFooter', () => {
                this.checkedOrders = []
            })
            // this.$root.$off('input', (event) => {
            //     this.filter = event.target.value
            // })
            this.$root.$off('allChecked', () => {
                this.chooseAll()
            })
            this.$root.$on('sort', (data) => {
                this.sort = data
            })
            this.$root.$off('resetFilters', () => {
                this.reset()
            })
            this.$root.$off('inputChangeMin', (data) => {
                this.filters.range.min = data
            })
            this.$root.$off('inputChangeMax', (data) => {
                this.filters.range.max = data
            })
            this.$root.$off('onchangeSelect', (data) => {
                this.filters.name = data
            })
            this.$root.$off('onchangeDelivery', (data) => {
                this.filters.time = data
            })
            this.$root.$off('onchangeStatus', (data) => {
                this.filters.status = data
            })
        }
    }
</script>

<style scoped lang="scss" src="./AppTableBody.scss"></style>
