<template>
    <table cellpadding="0" cellspacing="0" border="0">
        <thead>

        <tr>
            <th
            v-for="(key, index) in getHeaderTitle"
            :key="key + index"
            :class="{active: index === activeIndex}"
            >
                <div
                  class="wrapper-id"
                >
<!--                    <label-->
<!--                      v-if="index === 0"-->
<!--                      for="allChecked"-->
<!--                      @click="allChecked"-->
<!--                    >-->
<!--                        <input-->
<!--                          type="checkbox"-->
<!--                          id="allChecked"-->
<!--                          name="allChecked"-->
<!--                          class="custom-checkbox"-->
<!--                        >-->
<!--                    </label>-->

                    <span @click="sort(index)">{{key}}</span>

                    <div class="sort-navigate" @click="sort(index)">
                        <button :class="{'active-btn': index === activeIndex}">
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.69321 2.70844C0.84612 2.86063 1.09344 2.86004 1.24563 2.70713L2.60938 1.33678L2.60938 9.60938C2.60938 9.82512 2.78426 10 3 10C3.21575 10 3.39063 9.82512 3.39063 9.60938L3.39063 1.33676L4.75438 2.70715C4.90656 2.86006 5.15389 2.86064 5.3068 2.70846C5.45973 2.55625 5.46029 2.30893 5.30813 2.15602L3.27688 0.114922C3.27676 0.114785 3.27662 0.114688 3.27651 0.114571C3.12432 -0.0379484 2.8762 -0.0384376 2.7235 0.114551C2.72338 0.114687 2.72325 0.114785 2.72313 0.114903L0.691882 2.156C0.539734 2.30889 0.540261 2.55623 0.69321 2.70844Z" fill="#9AA3B0"/>
                            </svg>
                        </button>
                        <button :class="{'active-btn': index === activeIndex}">
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.69321 2.70844C0.84612 2.86063 1.09344 2.86004 1.24563 2.70713L2.60938 1.33678L2.60938 9.60938C2.60938 9.82512 2.78426 10 3 10C3.21575 10 3.39063 9.82512 3.39063 9.60938L3.39063 1.33676L4.75438 2.70715C4.90656 2.86006 5.15389 2.86064 5.3068 2.70846C5.45973 2.55625 5.46029 2.30893 5.30813 2.15602L3.27688 0.114922C3.27676 0.114785 3.27662 0.114688 3.27651 0.114571C3.12432 -0.0379484 2.8762 -0.0384376 2.7235 0.114551C2.72338 0.114687 2.72325 0.114785 2.72313 0.114903L0.691882 2.156C0.539734 2.30889 0.540261 2.55623 0.69321 2.70844Z" fill="#9AA3B0"/>
                            </svg>
                        </button>
                    </div>

                </div>
            </th>

        </tr>
        </thead>
    </table>
</template>

<script>
    export default {
        name: "AppTableHead",
        props: {
            headerTitle: {
                type: Array,
                default: () => []
            }
        },
        data() {
            return {
                fieldSort: {
                    0: 'id',
                    1: 'user',
                    2: 'order_time',
                    3: 'amount',
                    4: 'courier_id',
                    5: 'status',
                },
                activeIndex: 0,
                status: '+'
            }
        },
        computed: {
            getHeaderTitle() {
                return this.headerTitle ? this.headerTitle.map(header => header.title.toLowerCase().trim()) : []
            }
        },
        methods: {
            allChecked() {
                this.$root.$emit('allChecked')
            },
            getFieldSortById(index) {
                this.activeIndex = index
                return this.fieldSort[index]
            },
            sort(index) {
                this.setAsc(this.getFieldSortById(index))
            },
            setAsc(sortField) {
                this.status === '+' ? this.status = '-' : this.status = '+'

                this.$nextTick(() => {
                    this.$root.$emit('sort', `${this.status}${sortField}`)
                })
            },
        }
    }
</script>

<style scoped lang="scss" src="./AppTableHead.scss"></style>
