@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

table{
  max-width:100%;
  width: 100%;
  table-layout: fixed;
  height:auto;
  //overflow-x:auto;
  margin-top: 0;
  border: 1px solid rgb(222, 227, 234);
  background-color: #FFFFFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #4B4B4B;
  text-transform: uppercase;
}
td{
  padding: 5px 10px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #4B4B4B;
  border: 1px solid rgb(222, 227, 234);

  & span {
    color: $pizzaColor;
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 30px 5px;
    line-height: 2;
  }
}
section{
  margin: 50px 0;
}
.action-rm {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
label {
  display: flex;
  align-items: center;
}
.custom-checkbox {
  @include checkbox
}
.wrapper-id {
  display: flex;
  align-items: center;
}


