<template>
    <section>
            <app-table-head
            :headerTitle="headerTitle"
            />

            <app-table-body
              :dataBody="data"
              :couriersBody="couriers"
            />
    </section>

</template>

<script>
    export default {
        name: "AppTableTemplate",
        props: {
            data: {
                type: Array,
                default: () => []
            },
            couriers: {
                type: Array,
                default: () => []
            }
        },
        data() {
            return {
                headerTitle: [
                    {title: 'Номер заказа'},
                    {title: 'Заказчик  '},
                    {title: 'Время ДосТавки'},
                    {title: 'Стоимость'},
                    {title: 'КурЬер'},
                    {title: 'СтАтус  '},
                ]
            }
        }
    }
</script>

<style scoped lang="scss" src="./AppTableTemplate.scss"></style>
