@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

table{
  max-width:100%;
  width: 100%;
  table-layout: fixed;
  color: #9AA3B0;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0;
  text-align: left;
  user-select: none;
}
th {
  padding: 10px 12px;
  text-transform: capitalize;
  transition: .2s ease-in;
}
.custom-checkbox {
  @include checkbox
}
.active {
  color: $pizzaColor;

  & .wrapper-id {
    & span {
      border-bottom: 2px dotted $pizzaColor;
    }
  }
}
.wrapper-id {
  display: flex;
  align-items: center;

  & span {
    min-height: 24px;
    min-width: 60px;
    line-height: 24px;
    cursor: pointer;
    &:hover {
      color: $pizzaColor;
      border-bottom: 2px dotted $pizzaColor;
    }
  }
  & img {
  margin-left: 5px;
  }
}

.sort-navigate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  & button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 12px;
    outline: none;
    &:nth-child(2) {
      transform: rotate(180deg);
    }
  }
  &:hover {
    & path {
      fill: $pizzaColor;
    }
  }

  .active-btn {
    & path {
      fill: $pizzaColor !important;
    }
  }

}
