.dropdown-nav_point {
  margin: 3px;
  position: relative;
  //z-index: 1000;

  & span {
    display: block;
    position: relative;
    width: 25px;
    height: 40px;
    & img {
      display: block;
      margin: auto;
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
    }
  }
  & .dropbtn {
    cursor: pointer;
    border-radius: 100%;
    &:hover {
      opacity: 1;
      background-color: #f2f2f2;
      transition: 0.3s ease-in;
    }
  }
  & .dropdown-nav-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
    top: 40px;
    & span {


      width: 100%;
      cursor: pointer;
      font-weight: normal;
      padding: 12px 16px;
      text-decoration: none;
      display: flex;
      color: #707070;
      font-size: 14px;
      &:hover {
        background-color: #eee;
      }
    }
  }

  &:hover {
    & .dropdown-nav-content {
      display: block;
      animation: block-opacity  0.5s ease-in;
    }
  }

}

@keyframes block-opacity {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
