<template>
    <div>
        <div class="dropdown-nav_point" :style="`z-index: ${zIndex};`">
            <span class="dropbtn">
                <img src="../../../assets/point.svg" alt="">
            </span>
            <div class="dropdown-nav-content">
                <span @click="actionValue">Удалить</span>
                <slot/>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AppPointDropdown",
        props: {
            zIndex: {
                type: [String, Number],
                default: 'auto'
            },
            id: {
                type: [String, Number],
                default: null
            }
        },
        methods: {
            actionValue() {
                this.$root.$emit('actionRm', this.id)
            }
        },
    }
</script>

<style scoped lang="scss" src="./AppPointDropdown.scss"></style>
