<template>
    <div>
        <section
                class="btn bg"
                v-if="bg"
                @click="actionBtn"
        >
            <img src="../../../assets/rm-icon.svg" alt="rm" v-show="rm">
            <span>
                {{titleFilter}}
            </span>
        </section>
        <section class="btn fill" v-if="opacity">
            <img src="../../../assets/puls.svg" alt="plus" v-show="plus">
            <span>{{titleFilter}}</span>
        </section>

    </div>
</template>

<script>
    export default {
        name: "AppButton",
        props: {
          rm: {
            type: Boolean,
            default: false
          },
          plus: {
             type: Boolean,
             default: false
          },
          bg: {
            type: Boolean,
            default: false
          },
            title: {
                type: String,
                default: ''
            },
            opacity: {
                type: Boolean,
                default: false
            }
        },
        methods: {
          actionBtn() {
              this.$emit('actionBtn')
          }
        },
        computed: {
            titleFilter() {
                return this.title ? this.title.toLowerCase().trim() : ''
            }
        },
    }
</script>

<style scoped lang="scss" src="./AppButton.scss"></style>
