@import "../../../assets/styles/variables";

  .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 7px 15px;
    border-radius: 10px;
    margin-right: 50px;
    color: #FFFFFF;
    cursor: pointer;
    opacity: .7;
    transition: .3s ease-in opacity;

    &:hover {
      transition: .3s ease-in opacity;
      opacity: 1;
    }

    & span {
      text-transform: capitalize;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
    }
  }

  .bg {
    background-color: $pizzaColor;
  }

  .fill {
    border-radius: 5px;
    border: 1px solid $pizzaColor;
    color: $pizzaColor;
  }

  img {
    margin-right: 10px;
    object-fit: contain;
  }
