<template>
  <div class="container">

    <the-navigate
      :title="titleFilter"
    />


    <div class="container-wrapper">
      <the-filters
              v-if="loaded"
              :data="infoOrders.orders"
              :couriers="infoCouriers.couriers"
      />

      <app-table-template
              v-if="loaded"
              :data="infoOrders.orders"
              :couriers="infoCouriers.couriers"
      />
    </div>



  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'Home',

  async created() {
    await Promise.allSettled([
      this.fetchDataOrders(),
      this.fetchDataCouriers()
    ])
  },
  data() {
    return {
      title: 'База Заказов'
    }
  },
   computed: {
    ...mapGetters('orders', ['loaded', 'infoOrders']),
    ...mapGetters('couriers', ['infoCouriers']),

     titleFilter() {
      return this.title ? this.title.toLowerCase().trim() : ''
     }
  },
  mounted() {
    this.$root.$on('actionRm', (data) => {
      this.removeOrder(data)
    })
    this.$root.$on('actionRmOrder', (data) => {
      this.removeOrder(data)
    })
  },
  beforeDestroy() {
    this.$root.$off('actionRm', (data) => {
      this.removeOrder(data)
    })
    this.$root.$off('actionRmOrder', (data) => {
      this.removeOrder(data)
    })
  },
  methods: {
    ...mapActions('orders', ['fetchDataOrders', 'deleteOrder']),
    ...mapActions('couriers', ['fetchDataCouriers']),

    removeOrder(id) {
      let removeObj = {}
      let idx = id.length ? id.map(t => t) : id
       if (typeof idx === ("number" || 'string')) {
         removeObj.ids = [idx]
       } else {
         removeObj.ids = [...idx]
       }

      this.deleteOrder(removeObj)
    }
  }

}
</script>

<style lang="scss" scoped src="./Home.scss"></style>
