.container {
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
  padding-top: 50px;
}
.container-wrapper {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
