<template>
  <div id="app">
    <div id="nav">
    <the-navbar />
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss" >
  @import '/assets/styles/index.scss';
  @import '/assets/styles/variables.scss';

</style>
